In [2]:
import pandas as pd

# Fayldan o'qish

In [3]:
df = pd.read_csv("cinema.csv")

# Boshidan nazar solish

In [4]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

# Kino byudjeti eng katta va eng kichigi topish

In [5]:
df["Budget"].max()

np.float64(48772.9)

In [6]:
df["Budget"].min()

np.float64(19781.355)

# Miqdoriyn o'zgarish

In [7]:
df["Avg_age_actors"].quantile(0.5)

np.float64(39.0)

# dublikatlarni o'chirish

In [8]:
df.drop_duplicates(subset="Genre")

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
11,22.3494,70.74,0.476,33379.995,156.4,6.865,7.035,6.745,6.905,8.96,451646,NO,185.56,263.024,Action,23,553,37800

# Commulative yigindini topish

In [9]:
df["Movie_length"].cumsum()

0        138.7
1        291.1
2        425.7
3        545.0
4        672.7
        ...
501    71258.1
502    71408.3
503    71572.8
504    71735.6
505    71889.9
Name: Movie_length, Length: 506, dtype: float64

# Janrlardagi kinolar sonini topish

In [10]:
df["Genre"].value_counts()

Genre
Thriller    183
Comedy      155
Drama        97
Action       71
Name: count, dtype: int64

# Janrlar hissasi foizlar korinishida

In [11]:
df["Genre"].value_counts(normalize=True)*100

Genre
Thriller    36.166008
Comedy      30.632411
Drama       19.169960
Action      14.031621
Name: proportion, dtype: float64

# Guruhlash

In [12]:
df.groupby("Genre")["Avg_age_actors"].agg([min,max,sum])

C:\Users\qwert\AppData\Local\Temp\ipykernel_7712\2851901271.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby("Genre")["Avg_age_actors"].agg([min,max,sum])
C:\Users\qwert\AppData\Local\Temp\ipykernel_7712\2851901271.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("Genre")["Avg_age_actors"].agg([min,max,sum])
C:\Users\qwert\AppData\Local\Temp\ipykernel_7712\2851901271.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.groupby("Genre")["Avg_age_actors"].agg([min,max,sum])

          min  max   sum
Genre
Action     20   60  3022
Comedy      3   60  5984
Drama      20   60  3761
Thriller   20   60  7059

In [4]:
df.groupby("Genre")[["Avg_age_actors","Production expense"]].mean()

          Avg_age_actors  Production expense
Genre
Action         42.563380           79.025915
Comedy         38.606452           79.067226
Drama          38.773196           76.525155
Thriller       38.573770           75.471148

# pivot table yordamida guruhlash

In [11]:
df.pivot_table(values="Time_taken", index="Genre", columns="Avg_age_actors", fill_value=0)

Avg_age_actors,3,20,21,22,23,24,25,26,27,28,...,51,52,53,54,55,56,57,58,59,60
Genre,,,,,,,,,,,,,,,,,,,,,
Action,0.00,138.780000,189.640000,110.120,185.560,135.680000,217.52,0.000000,179.12,153.840000,...,137.466667,176.700000,150.280000,133.413333,162.90,147.920000,158.965714,195.10,0.000,171.48
Comedy,151.24,126.660000,145.376000,151.540,166.740,170.200000,160.38,155.640000,148.14,119.060000,...,163.400000,175.653333,121.920000,0.000000,156.04,141.266667,180.320000,121.76,174.112,162.90
Drama,0.00,184.573333,134.840000,153.424,159.680,196.120000,148.24,173.680000,163.03,133.386667,...,147.120000,160.320000,176.480000,146.386667,141.90,148.580000,153.000000,175.90,188.000,158.82
Thriller,0.00,158.120000,145.995556,145.720,170.665,148.986667,137.44,159.228571,146.44,137.200000,...,169.500000,158.520000,179.817778,169.853333,155.04,161.988571,144.550000,141.20,168.780,127.24

In [4]:
df.pivot_table(values="Movie_length", index="Genre", columns="Avg_age_actors", fill_value=0)

Avg_age_actors,3,20,21,22,23,24,25,26,27,28,...,51,52,53,54,55,56,57,58,59,60
Genre,,,,,,,,,,,,,,,,,,,,,
Action,0.0,128.900000,168.000000,149.100000,156.400000,136.50,110.40,0.000000,142.800,136.500000,...,137.833333,147.05,112.000000,157.933333,120.600000,141.10,136.871429,169.80,0.00,164.00
Comedy,105.8,138.733333,147.620000,132.928571,159.050000,141.88,157.35,151.120000,133.700,144.275000,...,162.366667,171.60,121.200000,0.000000,123.750000,157.90,150.750000,172.00,150.54,152.85
Drama,0.0,142.000000,128.600000,136.580000,134.466667,163.45,148.35,139.000000,164.925,151.366667,...,169.700000,169.70,127.200000,143.300000,135.900000,153.65,173.500000,152.25,164.95,142.80
Thriller,0.0,119.222222,123.322222,149.480000,133.650000,139.30,145.35,118.428571,111.300,151.225000,...,133.400000,132.90,127.577778,168.233333,132.866667,129.90,152.625000,162.66,142.60,167.50

# indekslash

In [13]:
df.set_index("Genre")

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection
Genre,,,,,,,,,,,,,,,,,
Thriller,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,23,494,48000
Drama,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,42,462,43200
Comedy,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,38,458,69400
Drama,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,45,472,66800
Drama,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,55,395,72400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Action,21.2526,78.86,0.427,36624.115,142.6,8.680,8.775,8.620,8.970,6.80,492480,NO,186.96,243.584,27,561,44800
Action,20.9054,78.86,0.427,33996.600,150.2,8.780,8.945,8.770,8.930,7.80,482875,YES,132.24,263.296,20,600,41200
Comedy,21.2152,78.86,0.427,38751.680,164.5,8.830,8.970,8.855,9.010,7.80,532239,NO,109.56,243.824,31,576,47800
Comedy,22.1918,78.86,0.427,37740.670,162.8,8.730,8.845,8.800,8.845,6.80,496077,YES,158.80,303.520,47,607,44000
Comedy,20.9482,78.86,0.427,33496.650,154.3,8.640,8.880,8.680,8.790,6.80,518438,YES,205.60,203.040,45,604,38000

In [5]:
df.set_index("Budget")

,Marketing expense,Production expense,Multiplex coverage,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
Budget,,,,,,,,,,,,,,,,,
36524.125,20.1264,59.62,0.462,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
35668.655,20.5462,69.14,0.531,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
39912.675,20.5458,69.14,0.531,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
38873.890,20.6474,59.36,0.542,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
39701.585,21.3810,59.36,0.542,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624.115,21.2526,78.86,0.427,142.6,8.680,8.775,8.620,8.970,6.80,492480,NO,186.96,243.584,Action,27,561,44800
33996.600,20.9054,78.86,0.427,150.2,8.780,8.945,8.770,8.930,7.80,482875,YES,132.24,263.296,Action,20,600,41200
38751.680,21.2152,78.86,0.427,164.5,8.830,8.970,8.855,9.010,7.80,532239,NO,109.56,243.824,Comedy,31,576,47800
37740.670,22.1918,78.86,0.427,162.8,8.730,8.845,8.800,8.845,6.80,496077,YES,158.80,303.520,Comedy,47,607,44000
33496.650,20.9482,78.86,0.427,154.3,8.640,8.880,8.680,8.790,6.80,518438,YES,205.60,203.040,Comedy,45,604,38000

# indeksni qaytarish

In [6]:
df.reset_index()

,index,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,501,21.2526,78.86,0.427,36624.115,142.6,8.680,8.775,8.620,8.970,6.80,492480,NO,186.96,243.584,Action,27,561,44800
502,502,20.9054,78.86,0.427,33996.600,150.2,8.780,8.945,8.770,8.930,7.80,482875,YES,132.24,263.296,Action,20,600,41200
503,503,21.2152,78.86,0.427,38751.680,164.5,8.830,8.970,8.855,9.010,7.80,532239,NO,109.56,243.824,Comedy,31,576,47800
504,504,22.1918,78.86,0.427,37740.670,162.8,8.730,8.845,8.800,8.845,6.80,496077,YES,158.80,303.520,Comedy,47,607,44000
505,505,20.9482,78.86,0.427,33496.650,154.3,8.640,8.880,8.680,8.790,6.80,518438,YES,205.60,203.040,Comedy,45,604,38000

# isin orqali saralash

In [8]:
df[df["Genre"].isin(["Drama","Comedy"])]

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400
5,20.5970,59.36,0.542,35718.650,132.2,6.890,7.100,6.885,7.005,7.26,498425,YES,143.48,284.592,Comedy,53,460,57400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,23.5566,74.38,0.415,30935.795,147.0,8.770,8.805,8.755,8.870,7.16,414921,NO,197.00,282.800,Drama,47,635,35000
500,24.4876,74.38,0.415,33479.985,153.2,8.680,8.765,8.590,8.970,7.16,442908,NO,124.72,282.688,Drama,54,525,33600
503,21.2152,78.86,0.427,38751.680,164.5,8.830,8.970,8.855,9.010,7.80,532239,NO,109.56,243.824,Comedy,31,576,47800
504,22.1918,78.86,0.427,37740.670,162.8,8.730,8.845,8.800,8.845,6.80,496077,YES,158.80,303.520,Comedy,47,607,44000
505,20.9482,78.86,0.427,33496.650,154.3,8.640,8.880,8.680,8.790,6.80,518438,YES,205.60,203.040,Comedy,45,604,38000

In [6]:
df[df["Production expense"].isin([70,80])]

Empty DataFrame
Columns: [Marketing expense, Production expense, Multiplex coverage, Budget, Movie_length, Lead_ Actor_Rating, Lead_Actress_rating, Director_rating, Producer_rating, Critic_rating, Trailer_views, 3D_available, Time_taken, Twitter_hastags, Genre, Avg_age_actors, Num_multiplex, Collection]
Index: []

# indexlash va sortlash

In [22]:
df.set_index("Genre").sort_index()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection
Genre,,,,,,,,,,,,,,,,,
Action,21.6442,66.72,0.569,38646.135,80.3,5.410,5.575,5.450,5.755,7.18,534094,NO,179.84,244.736,57,396,59200
Action,24.5752,72.12,0.480,35579.775,158.9,8.485,8.725,8.635,8.725,7.82,457364,NO,135.44,262.976,57,544,37200
Action,20.7476,65.38,0.485,35052.050,112.0,6.740,6.830,6.655,6.855,6.96,505077,YES,150.28,303.312,53,555,41400
Action,21.6374,60.78,0.555,43440.100,110.4,8.230,8.290,8.200,8.285,7.40,544945,YES,217.52,207.008,25,512,87600
Action,20.5086,62.56,0.516,37196.280,129.9,6.985,7.190,7.080,7.280,7.48,480187,YES,179.56,303.824,52,479,47800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Thriller,23.3520,69.76,0.507,35696.430,125.8,7.630,7.840,7.615,7.830,8.08,510893,YES,135.52,263.808,48,554,47600
Thriller,26.8218,69.76,0.507,35635.325,113.6,7.500,7.750,7.490,7.820,7.08,528887,NO,172.00,304.000,52,474,50000
Thriller,26.0694,69.76,0.507,35063.160,102.4,7.265,7.455,7.145,7.300,7.08,509852,YES,141.20,243.680,36,485,46000
Thriller,22.6116,75.02,0.453,32618.960,146.6,8.600,8.865,8.690,8.890,7.44,410730,YES,160.16,283.264,40,566,40800
Thriller,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,23,494,48000

In [8]:
df = df.set_index("Avg_age_actors").sort_index()
print(df)

                Marketing expense  Production expense  Multiplex coverage  \
Avg_age_actors
3                         22.8104               76.18               0.511
20                        20.6718               60.90               0.572
20                        21.2302               65.38               0.485
20                        39.1154               71.28               0.462
20                        22.0656               65.26               0.547
...                           ...                 ...                 ...
60                       323.5440               91.20               0.260
60                        20.7742               65.64               0.595
60                        20.8594               65.64               0.595
60                        20.8406               85.08               0.536
60                       224.6600               91.20               0.386

                   Budget  Movie_length  Lead_ Actor_Rating  \
Avg_age_actors
3               35413.125         105.8               7.945
20              39018.320          89.3               7.185
20              33152.240         132.0               7.470
20              33591.085         162.3               7.750
20              32924.485         120.7               6.370
...                   ...           ...                 ...
60              34174.360         173.5               8.995
60              34490.995         104.8               6.275
60              36468.575          96.4               6.335
60              35785.310         127.1               8.020
60              34357.675         170.2               8.855

                Lead_Actress_rating  Director_rating  Producer_rating  \
Avg_age_actors
3                             8.040            7.910            8.215
20                            7.345            7.235            7.430
20                            7.620            7.515            7.770
20                            7.800            7.700            7.845
20                            6.660            6.450            6.660
...                             ...              ...              ...
60                            9.070            9.015            9.095
60                            6.400            6.210            6.475
60                            6.505            6.275            6.250
60                            8.295            8.015            8.340
60                            9.010            8.820            8.975

                Critic_rating  Trailer_views 3D_available  Time_taken  \
Avg_age_actors
3                        7.28         504226          YES      151.24
20                       8.34         567784          YES      123.96
20                       7.96         459687          YES      129.48
20                       6.80         406866          YES      173.92
20                       7.06         467075          YES      123.84
...                       ...            ...          ...         ...
60                       6.96         321678           NO      197.28
60                       7.68         514434          YES      199.28
60                       8.68         459056           NO      181.92
60                       8.36         489837           NO      183.16
60                       7.96         382809          YES      105.84

                Twitter_hastags     Genre  Num_multiplex  Collection
Avg_age_actors
3                       204.496    Comedy            441       56200
20                      305.584  Thriller            428       69800
20                      262.992    Comedy            534       37400
20                      262.368     Drama            488       29600
20                      283.136    Comedy            460       39200
...                         ...       ...            ...         ...
60                      221.312    Comedy            674       16400
60                      283.712     Drama            433       46400
60                      283.968    Comedy            411       49600
60                      283.664     Drama            518       45800
60                      302.336     Drama            653       29200

[506 rows x 17 columns]

In [7]:
df.set_index("Budget").sort_index()

,Marketing expense,Production expense,Multiplex coverage,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
Budget,,,,,,,,,,,,,,,,,
19781.355,111.1174,91.20,0.282,161.4,9.185,9.225,9.160,9.205,6.96,527849,YES,161.00,244.400,Thriller,51,680,55000
21458.965,290.4440,91.20,0.369,173.5,9.235,9.305,9.230,9.215,7.96,466467,NO,199.24,223.696,Drama,24,559,46200
22986.590,389.9640,91.20,0.332,173.5,9.270,9.480,9.425,9.550,6.96,215432,NO,141.52,262.208,Drama,35,712,27600
22986.590,434.3240,91.20,0.341,173.5,9.270,9.495,9.300,9.580,6.96,352670,YES,170.76,281.904,Thriller,53,620,23800
24264.240,421.6980,91.20,0.300,164.7,9.250,9.330,9.260,9.280,7.96,269764,NO,113.52,281.408,Thriller,25,626,17600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46523.125,50.3804,94.16,0.395,167.4,8.870,9.030,8.800,8.975,9.06,561132,YES,160.00,248.000,Thriller,57,603,100000
46650.890,30.4028,62.94,0.353,165.0,8.725,8.980,8.805,8.915,8.40,511151,YES,201.52,307.808,Thriller,24,552,97600
48350.720,32.2308,62.94,0.353,160.4,8.955,9.235,9.085,9.120,9.40,530690,YES,172.00,228.000,Thriller,54,552,100000
48467.375,30.5386,67.40,0.496,156.5,8.435,8.695,8.525,8.560,7.52,521198,YES,150.00,268.000,Thriller,20,570,100000
48772.900,89.4856,91.20,0.282,156.4,9.015,9.145,9.040,8.990,6.96,493047,NO,160.76,243.504,Thriller,26,622,43800

# loc bn ishlash

In [23]:
df.loc["Action":"Drama"]

Empty DataFrame
Columns: [Marketing expense, Production expense, Multiplex coverage, Budget, Movie_length, Lead_ Actor_Rating, Lead_Actress_rating, Director_rating, Producer_rating, Critic_rating, Trailer_views, 3D_available, Time_taken, Twitter_hastags, Genre, Avg_age_actors, Num_multiplex, Collection]
Index: []

In [39]:
df.loc[30 : 40]

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Num_multiplex,Collection
Avg_age_actors,,,,,,,,,,,,,,,,,
30,20.3902,57.76,0.5839,39462.720,133.0,5.280,5.455,5.315,5.505,7.28,477265,YES,165.20,205.280,Action,390,66000
30,22.9864,65.26,0.5470,31891.255,139.7,6.335,6.420,6.235,6.560,7.06,465689,NO,NaN,222.992,Thriller,439,37400
30,20.8674,66.28,0.5610,33968.825,136.5,6.480,6.630,6.460,6.795,8.64,502413,YES,140.20,223.280,Drama,473,41000
30,20.1812,60.94,0.6000,39373.840,94.3,6.280,6.500,6.180,6.425,7.94,489220,YES,156.88,245.152,Action,424,64400
30,37.6250,98.78,0.3760,31313.535,168.2,8.850,9.060,8.950,9.175,6.76,406685,YES,157.72,202.288,Drama,581,28600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,21.5792,80.66,0.5630,34846.515,79.5,7.730,8.025,7.715,8.025,7.26,488560,NO,157.64,203.856,Thriller,389,48200
40,33.1330,62.94,0.3530,38007.310,173.5,8.900,9.090,8.840,9.145,8.40,483741,YES,146.04,224.816,Thriller,599,60200
40,20.3418,59.04,0.5900,37374.040,109.6,3.840,4.035,3.840,4.030,8.60,502830,YES,122.04,244.816,Drama,474,60200
40,22.7108,67.14,0.5910,31074.670,110.3,6.745,6.915,6.730,6.615,8.22,461313,NO,176.96,302.784,Thriller,485,34800
40,934.9220,91.20,0.3070,25103.045,173.5,9.130,9.250,9.050,9.255,7.96,212912,YES,120.80,241.120,Thriller,693,14000

In [11]:
df1 = df.set_index(["Genre"]).sort_index()

In [12]:
df1.loc["Comedy"]

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Num_multiplex,Collection
Genre,,,,,,,,,,,,,,,,
Comedy,128.8228,91.20,0.287,36968.525,171.7,8.745,8.885,8.675,8.985,6.96,390279,YES,162.08,222.432,614,30400
Comedy,22.8206,82.84,0.563,32163.450,131.5,6.720,6.850,6.825,6.965,7.80,405787,YES,152.12,223.248,521,40600
Comedy,264.9440,91.20,0.416,32424.535,133.2,8.865,9.165,8.905,9.070,6.96,401981,NO,182.08,281.632,558,20400
Comedy,145.7614,91.20,0.260,35224.255,169.9,8.885,8.980,8.890,9.105,7.96,401882,NO,203.96,302.384,707,29800
Comedy,22.0000,67.18,0.567,38785.010,91.2,7.095,7.320,7.245,7.355,8.78,546989,NO,165.24,285.296,511,66200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Comedy,21.0744,82.84,0.563,36379.695,124.5,6.890,7.125,6.865,7.195,7.80,479856,NO,208.84,204.336,454,54200
Comedy,21.0604,61.82,0.511,39323.845,136.6,8.170,8.310,8.135,8.555,8.44,515362,YES,151.48,304.592,478,57400
Comedy,21.2302,65.38,0.485,33152.240,132.0,7.470,7.620,7.515,7.770,7.96,459687,YES,129.48,262.992,534,37400
Comedy,20.7096,62.28,0.608,32641.180,92.6,5.385,5.445,5.260,5.470,7.72,459998,NO,156.36,303.344,438,41800
Comedy,25.9832,68.92,0.536,32530.080,115.6,7.670,7.895,7.745,7.830,7.28,448615,YES,124.44,303.376,466,42200

In [13]:
df1.loc[["Comedy","Drama"]]

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Num_multiplex,Collection
Genre,,,,,,,,,,,,,,,,
Comedy,128.8228,91.20,0.287,36968.525,171.7,8.745,8.885,8.675,8.985,6.96,390279,YES,162.08,222.432,614,30400
Comedy,22.8206,82.84,0.563,32163.450,131.5,6.720,6.850,6.825,6.965,7.80,405787,YES,152.12,223.248,521,40600
Comedy,264.9440,91.20,0.416,32424.535,133.2,8.865,9.165,8.905,9.070,6.96,401981,NO,182.08,281.632,558,20400
Comedy,145.7614,91.20,0.260,35224.255,169.9,8.885,8.980,8.890,9.105,7.96,401882,NO,203.96,302.384,707,29800
Comedy,22.0000,67.18,0.567,38785.010,91.2,7.095,7.320,7.245,7.355,8.78,546989,NO,165.24,285.296,511,66200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Drama,23.9604,76.18,0.511,34341.010,115.9,7.925,8.095,8.020,8.065,7.28,456943,YES,NaN,244.000,480,50000
Drama,37.6250,98.78,0.376,31313.535,168.2,8.850,9.060,8.950,9.175,6.76,406685,YES,157.72,202.288,581,28600
Drama,39.7686,71.28,0.462,32291.215,173.5,7.825,8.010,7.935,8.040,7.80,365213,YES,149.80,262.320,527,29000
Drama,179.8496,91.20,0.300,30663.600,173.5,9.145,9.335,9.140,9.310,7.96,339764,NO,134.92,301.968,702,24600
Drama,20.8674,66.28,0.561,33968.825,136.5,6.480,6.630,6.460,6.795,8.64,502413,YES,140.20,223.280,473,41000

In [15]:
df2 = df.set_index(["Genre","Producer_rating"])

In [16]:
df2.sort_index(level=["Genre","Producer_rating"],ascending=[True,False])

                          Marketing expense  Production expense  \
Genre    Producer_rating
Action   9.480                     471.9420               91.20
         9.325                     337.4880               91.20
         9.300                     356.2360               91.20
         9.270                     377.3340               91.20
         9.265                     183.0348               91.20
...                                     ...                 ...
Thriller 5.655                      20.2622               57.44
         5.420                      20.9638               62.28
         4.800                      22.1318               58.82
         4.750                      21.4488               58.38
         4.705                      21.5900               58.38

                          Multiplex coverage     Budget  Movie_length  \
Genre    Producer_rating
Action   9.480                         0.300  27775.000         163.0
         9.325                         0.329  36357.475         172.6
         9.300                         0.300  29313.735         171.6
         9.270                         0.329  34568.765         173.5
         9.265                         0.300  29941.450         172.4
...                                      ...        ...           ...
Thriller 5.655                         0.597  40268.195          95.4
         5.420                         0.608  33929.940         105.5
         4.800                         0.587  32974.480          93.0
         4.750                         0.589  32685.620          92.0
         4.705                         0.589  36546.345         109.4

                          Lead_ Actor_Rating  Lead_Actress_rating  \
Genre    Producer_rating
Action   9.480                         9.105                9.260
         9.325                         9.110                9.350
         9.300                         9.270                9.385
         9.270                         9.260                9.435
         9.265                         9.000                9.250
...                                      ...                  ...
Thriller 5.655                         5.550                5.795
         5.420                         5.305                5.495
         4.800                         4.590                4.750
         4.750                         4.585                4.725
         4.705                         4.510                4.785

                          Director_rating  Critic_rating  Trailer_views  \
Genre    Producer_rating
Action   9.480                      9.115           7.96         276179
         9.325                      9.180           6.96         382857
         9.300                      9.190           6.96         267965
         9.270                      9.260           7.96         353650
         9.265                      9.025           7.96         369811
...                                   ...            ...            ...
Thriller 5.655                      5.605           8.42         512329
         5.420                      5.345           7.72         528690
         4.800                      4.690           6.60         503151
         4.750                      4.515           8.34         500120
         4.705                      4.575           7.34         528366

                         3D_available  Time_taken  Twitter_hastags  \
Genre    Producer_rating
Action   9.480                     NO      166.96          301.184
         9.325                     NO      172.36          201.744
         9.300                     NO      202.88          261.152
         9.270                     NO      158.08          221.632
         9.265                     NO      120.60          241.840
...                               ...         ...              ...
Thriller 5.655                    YES      150.16          265.664
         5.420                     NO      130.76          243.504
         4.800                     NO      186.24          263.296
         4.750                    YES      147.44          222.976
         4.705                    YES      111.64          203.856

                          Num_multiplex  Collection
Genre    Producer_rating
Action   9.480                      617       14800
         9.325                      582       21800
         9.300                      600       14400
         9.270                      581       20400
         9.265                      616       23000
...                                 ...         ...
Thriller 5.655                      480       70800
         5.420                      370       43800
         4.800                      444       41200
         4.750                      397       37200
         4.705                      363       48200

[506 rows x 15 columns]

In [23]:
df3 = df.set_index("Avg_age_actors")

KeyError: "None of ['Avg_age_actors'] are in the columns"

In [24]:
df3.loc[30:40]

KeyError: 30